<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Experiencia Laboral
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-grid>
    <ion-row>
  <ion-col>
  Cajera en Comisariato 
  </ion-col>

</ion-row>
 
<ion-row>
  <ion-col>
    Encuestadora en lista 35
        
          </ion-col>
</ion-row>

  </ion-grid>

</ion-content>
