<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1>Maria Fernanda Cordova Lopez  </h1>
    <ion-row>
    <ion-col>
      Dirección: Nueva Prosperina MZ 725 S 9
    </ion-col>
    <ion-col>
      Celular: 0968337916
    </ion-col>
    <ion-col>
      Email: mafer_cl24@hotmail.com
    </ion-col>
  </ion-row>

    <h2> Datos Personales</h2>
        <ion-grid>
        <ion-col>
          Lugar de nacimiento: Guayaquil
        </ion-col>

        <ion-row>
          <ion-col>
            Fecha de nacimiento: 24/12/1998
          </ion-col>
        </ion-row>

      <ion-row>
        <ion-col>
          Cédula: 0955914569
        </ion-col>
      </ion-row>

    <ion-row>
        <ion-col>
          Estado Civil: Soltera
        </ion-col>
      </ion-row>

    <ion-row>
        <ion-col>
          Nacionalidad: Ecuatoriana
        </ion-col>
      </ion-row>

    
      

      </ion-grid>
  </ion-content>

</ion-content>
