<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudios Realizados
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2 > Primaria </h2>
  <ion-grid>
    <ion-row>
  <ion-col>
  Escuela Particular “Señor de la Divina Esperanza” 
  </ion-col>
</ion-row>

  <h2> Secundaria </h2>
  <ion-row>
    <ion-col>
  Unidad Educativa “Victor Hugo Mora Barrezueta” - Título Obtenido: “Bachiller en Contabilidad”
  
    </ion-col>
  </ion-row>

  <h2> Tercer Nivel </h2>
<ion-row>
  <ion-col>
  Universidad de Guayaquil - Facultad de Ingeniería Industrial - Ingeniería en sistemas de información
  </ion-col>
  
</ion-row>
<ion-row>
<ion-col>
  6to Semestre - Cursando
</ion-col>
</ion-row>
  
  
</ion-grid>

</ion-content>
