<ion-header>
  <ion-toolbar>
    <ion-title>Referencias Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Srta. Mariuxi Villacreses</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        Celular: 0968345670
      </ion-col>
    </ion-row>

    <h2>Lcda. Josefina Rios - Comisariato </h2>
    <ion-row>
      <ion-col>
        Celular: 0991147550
      </ion-col>
    </ion-row>

    <h2>Sr. Pedro Gutierrez</h2>
    <ion-row>
      <ion-col>
        Teléfono: 0981929567
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>